@charset "utf-8";
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#titulo{
    padding: 30px;
    background-color: red;
    color: white;
    width: 85%;
    margin-left: 105px;
}
main{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50% );
  
}
h1{
    padding-bottom: 80px;
   font-weight: normal;
}

#isenha{
    display: block;
  border: 0px;
 border-bottom: 2px solid red;
 width: 300px;
 outline: 0px;
 font-size: 1.5em;
 cursor: text;
}
    #iemail{
        
     border: 0px;
     border-bottom: 2px solid red;
     outline: 0px;
     margin: auto;
     width: 300px;
     font-size: 1.5em;

   
     
    }
    label{
        display: block;
            position: absolute;
            color: rgba(128, 128, 128, 0.548);
            padding: auto;
            padding-bottom: 20px;
            cursor: text;
    }
       
    
   
    #login{
     position: relative;
        margin: auto;
        
        height: 40px;
        width: 100px;
        background-color: red;
        color: white;
        text-align: center;
        border: none;
        
    }
    div{
        
        margin-bottom: 60px;
    }
    menu{
        color: red;
    }

 

